<li class="nav-item dropdown no-arrow">
	<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
		 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="mr-2 d-none d-lg-inline text-gray-600 small">@Model</span>
		<img class="img-profile rounded-circle"
				 src="~/admin_assets/img/undraw_profile.svg">
	</a>

	<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
			 aria-labelledby="userDropdown">
		<a asp-area="" asp-controller="User" asp-action="Index" class="dropdown-item">
			<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
			Profili Düzenle
		</a>
		<a class="dropdown-item" href="#">
			<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
			Settings
		</a>
		<a asp-area="" asp-controller="Auth" asp-action="Logout" class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
			<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
			Çıkış Yap
		</a>
	</div>
</li>