@using Ads.Business.Dtos.City

@model CityCreateOrEditDto

<div class="container">

  <div class="row mb-2">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5>Şehir Oluştur</h5>         
        </div>

        <div class="card-body">
          <form asp-area="Admin" asp-controller="City" asp-action="Create" method="post" class="d-flex align-items-center">
            <div class="container">

              <div class="row mb-4">
                <div class="col">
                  <label asp-for="Name" class="mb-2"></label>
                  <input type="text" asp-for="Name" class="form-control" placeholder="Ad" />
                  <span asp-validation-for="Name" class="text-danger"></span>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col">
                  <button type="submit" class="btn btn-warning" style="width:150px">Oluştur</button>
                  <a asp-area="Admin" asp-controller="City" asp-action="Index" class="btn btn-primary" style="width:150px">Listeye Dön</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
