@using Ads.Business.Dtos.District

@model DistrictViewDto

<div class="row mb-2">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h5>İlçe Silme</h5>
      </div>
      <div class="card-body">
        <form asp-area="Admin" asp-controller="District" asp-action="Delete" method="post" class="d-flex align-items-center">
          <div class="container">

            <input type="text" asp-for="CityId" class="form-control" placeholder="Şehir" hidden />

            <div class="row mb-4">
              <div class="col">
                <label asp-for="Name" class="mb-2"></label>
                <div class="container bg-dark text-white rounded p-2">@Model.Name</div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <button type="submit" class="btn btn-danger" style="width:150px">Sil</button>
                <a asp-area="Admin" asp-controller="District" asp-action="Index" asp-route-cityId="@Model.CityId" class="btn btn-primary" style="width:150px">Listeye Dön</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
