@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    
*@
@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Ads.Web.Mvc</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/Ads.Web.Mvc.styles.css" asp-append-version="true" />

  <!-- FAVICON -->
  <link href="~/template/img/favicon.png" rel="shortcut icon">
  <!-- PLUGINS CSS STYLE -->
  <!-- <link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"> -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="~/template/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/template/plugins/bootstrap/css/bootstrap-slider.css">
  <!-- Font Awesome -->
  <link href="~/template/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Owl Carousel -->
  <link href="~/template/plugins/slick-carousel/slick/slick.css" rel="stylesheet">
  <link href="~/template/plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet">
  <!-- Fancy Box -->
  <link href="~/template/plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet">
  <link href="~/template/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet">
  <!-- CUSTOM CSS -->
  <link href="~/template/css/style.css" rel="stylesheet">



</head>

<body class="body-wrapper" style="height:100vh;">


  
  <section class="login py-5 border-top-1" style="height:100%; display:flex; align-items:center; justify-content:center" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-8 ">
          <div class="border border">
            <h3 class="bg-gray p-4">Register Now</h3>
            <form action="#">
              <fieldset class="p-4">
                <input type="email" placeholder="Email*" class="border p-3 w-100 my-2">
                <input type="password" placeholder="Password*" class="border p-3 w-100 my-2">
                <input type="password" placeholder="Confirm Password*" class="border p-3 w-100 my-2">
                <div class="loggedin-forgot d-inline-flex my-3">
                  <input type="checkbox" id="registering" >
                  <label for="registering" class="px-2 mb-0">By registering, you accept our <a class="text-primary font-weight-bold" href="terms-condition.html">Terms & Conditions</a></label>
                </div>
                <button type="submit" class="d-block py-3 px-4 bg-primary text-white border-0 rounded font-weight-bold">Register Now</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>



  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>

  <!-- JAVASCRIPTS -->
  <script src="~/template/plugins/jQuery/jquery.min.js"></script>
  <script src="~/template/plugins/bootstrap/js/popper.min.js"></script>
  <script src="~/template/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="~/template/plugins/bootstrap/js/bootstrap-slider.js"></script>
  <!-- tether js -->
  <script src="~/template/plugins/tether/js/tether.min.js"></script>
  <script src="~/template/plugins/raty/jquery.raty-fa.js"></script>
  <script src="~/template/plugins/slick-carousel/slick/slick.min.js"></script>
  <script src="~/template/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
  <script src="~/template/plugins/fancybox/jquery.fancybox.pack.js"></script>
  <script src="~/template/plugins/smoothscroll/SmoothScroll.min.js"></script>
  <!-- google map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
  <script src="~/template/plugins/google-map/gmap.js"></script>
  <script src="~/template/js/script.js"></script>

</body>

</html>