@model IEnumerable<Ads.Entities.Concrete.Category>

<div class="content-block">
	<h1>Yakınınızdaki Fırsatları <br /> Uzakta Aramayın!</h1>
	<p>Her gün dünya genelinde yerel topluluklarda birbirlerine alım satım yapan milyonlara katılın.</p>
	<div class="short-popular-category-list text-center">
		<h2>Popüler Kategoriler</h2>
		<ul class="list-inline">
			@if(Model != null && Model.Count()> 0)
			{
				@foreach (var category in Model)
				{
					//TODO: iconlar için bootstrap icon kullanılabilir. icon class ismi de category tablosunda string olarak tutulur.
					<li class="list-inline-item">
						<a asp-area="" asp-controller="Category" asp-action="Index" asp-route-category-slug="@category.Name" asp-route-categoryId="@category.Id"><i class="@category.IconClass"></i> @category.Name</a>
					</li>
				}
			}	
		</ul>
	</div>
</div>